.geek{
    border: 2px solid black;
    width: 400px;
    margin-left: 540px;    
    margin-right: 540px;
    padding: 20px;
    background-color:whitesmoke;
}
.geek input{
    border-radius: 3px;
}
.geek select{
    border-radius: 3px;
}
#btn{
    background-color:rgb(77, 223, 133);
    border-radius: 3px;
    width: 60px;
    height: 30px;
}

#title{
    color: rgb(77, 223, 133);
    text-align: center;

}
#title1{
    color: black;

}
#logo{
    text-align: center;
}